//header

.header-outer {
  width: 100%;
  height: 100%;
  z-index: 5000 !important;
  position: relative;
  top: 0;
  .header-inner {
    width: 100%;
    height: 100%;
  }
}

//header


//landing-section

.landing-image-outer {
  .landing-image-inner {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .row {
        width: 100%;

        .items {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: white;

          .left-items {
            width: 50%;

            h1 {
              text-transform: uppercase;
              font-weight: 900;
              font-size: 40px;
            }

            button {
              background-color: #D1002c;
              border-radius: 5px;
              text-transform: capitalize;
              padding: 15px 25px;
            }

          }

          .right-items {
            width: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            flex-direction: column;

            h1 {
              border-right: 8px solid #D1002c;
              margin: 0;
              padding: 0 5px;
            }
          }
        }

        a {
          cursor: pointer;
        }

        .fa-circle-play {
          font-size: 60px !important;
          border-radius: 50%;
          margin: 10px;
          color: #D1002c;
          position: absolute;
          bottom: 10%;
          right: 35%;
          cursor: pointer;
          box-shadow: 0 0 0 20px rgba(220, 53, 69, 1);
          transform: scale(1);
          animation: pulse 3s infinite;
        }

        @keyframes pulse {
          0% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(220, 53, 69, 0.7);
          }

          75% {
            transform: scale(1);
            box-shadow: 0 0 0 40px rgba(220, 53, 69, 0);
          }

          100% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
          }
        }
      }
    }
  }
}

//landing-section

.divider-bars-1 {
  position: relative;
  width: 100%;
  height: 100px;

  .bars {
    .left-bar {
      height: 60px;
      width: 65%;
      background-color: #FFFFFF;
      transform: matrix(1, 0.102, 0, 2, 0, 0);
      z-index: 100;
      position: absolute;
      left: 0;
    }

    .right-bar {
      height: 60px;
      width: 35%;
      background-color: #FFFFFF;
      transform: matrix(1, -0.19, 0, 2, 0, 0);
      z-index: 100;
      position: absolute;
      right: 0;
    }
  }
}

.divider-bars-2 {
  position: relative;
  width: 100%;
  height: 100px;

  .bars {
    .left-bar {
      height: 60px;
      width: 35%;
      background-color: #FFFFFF;
      transform: matrix(1, -0.19, 0, 2, 0, 0);
      z-index: 100;
      position: absolute;
      left: 0;
      top: 75px;
    }

    .right-bar {
      height: 60px;
      width: 65%;
      background-color: #FFFFFF;
      transform: matrix(1, 0.102, 0, 2, 0, 0);
      z-index: 100;
      position: absolute;
      right: 0;
      top: 75px;
    }
  }
}

.divider-bars-3 {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 1;

  .bars {
    .left-bar {
      height: 60px;
      width: 65%;
      background-color: black;
      transform: matrix(1, 0.102, 0, 2, 0, 0);
      z-index: 100;
      position: absolute;
      left: 0;
    }

    .right-bar {
      height: 60px;
      width: 35%;
      background-color: black;
      transform: matrix(1, -0.19, 0, 2, 0, 0);
      z-index: 100;
      position: absolute;
      right: 0;
    }
  }
}


//title-section
.about-us-section-outer {
  padding: 100px 0;

  .about-us-section-inner {
    h1.title-name {
      text-align: center;
      font-weight: 900;
      color: #000000CC;
      padding: 20px 0 40px 0;
    }

    .service-items {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .items-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        padding: 50px 0;

        p {
          text-transform: uppercase;
          font-weight: 600;
        }

      }
    }

    .content-outer {
      .left {
        .service-inner {
          h2 {
            padding: 10px 0;
            color: black;
            font-weight: 700;
          }
        }
      }
    }

    .service-details {
      padding: 50px 0;

      p {
        color: #A0A0B4;
      }

      .left {

        h2 {
          font-weight: 600;
        }

        p {
          line-height: 30px;
        }
      }

      .image {
        width: 300px;
        height: 350px;
        background-image: url("https://preview.colorlib.com/theme/avo/images/about.jpg.webp");
        background-position: center;
        background-size: cover;

      }

      .right {

        p {
          line-height: 30px;
        }
      }

      .service-inner {
        button {
          background-color: #D1002c;
          border-radius: 5px;
        }
      }
    }

    .providing-service {
      .providing-service-inner {
        .top {
          display: flex;
          align-items: center;

          span {
            font-size: 60px;
            border-bottom: 1px solid #A0A0B4;
            color: #D1002c;
            padding-right: 10px;
          }
        }

        .bottom > p {
          padding-left: 80px;
          color: #A0A0B4;
        }
      }
    }

  }

}

//title-section


//works-section
.works-section-outer {
  background-color: #f3f3f3;
  padding: 10px 0;
  height: auto !important;

  .works-section-inner {
    .container {
      .title {
        padding: 50px 0;

        h1 {
          text-transform: uppercase;
          font-weight: 900;
          color: #000000CC;
        }
      }

      .row {
        padding: 20px 0;

        .image {
          height: 550px;
          order: 1;

          .item-image {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            position: relative;
          }

          .image-01 {
            background-image: url("https://preview.colorlib.com/theme/avo/images/work-1.jpg.webp");
          }

          .image-02 {
            background-image: url("https://preview.colorlib.com/theme/avo/images/work-2.jpg.webp");
          }

          .image-03 {
            background-image: url("https://preview.colorlib.com/theme/avo/images/work-3.jpg.webp");
          }

          .image-04 {
            background-image: url("https://preview.colorlib.com/theme/avo/images/work-4.jpg.webp");
          }

          .image-05 {
            background-image: url("https://preview.colorlib.com/theme/avo/images/work-5.jpg.webp");
          }

          .image-06 {
            background-image: url("https://preview.colorlib.com/theme/avo/images/work-6.jpg.webp");
          }

        }

        .description {
          height: auto;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          order: 2;
          padding: 20px;

          .work-title {
            font-size: 15px;
            text-transform: capitalize;
            letter-spacing: 2px;
          }

          .work-name {
            text-transform: capitalize;
          }

          .work-description {
            color: #A0A0B4;

          }

          .user {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            padding: 20px 0;

            .user-image {
              img {
                border-radius: 50%;
                width: 60px;
              }
            }

            .user-description {
              p {
                margin: 0;
              }

              .website-name {
                color: #A0A0B4;
                letter-spacing: 3px;
              }
            }
          }

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            color: black;
            text-transform: uppercase;
            border: 1px solid #d9d9e1;
            border-radius: 5px;
            padding: 5px 10px;
            letter-spacing: 1px;
            font-size: 12px;
            font-weight: 600;
          }

        }
      }
    }
  }
}

//works-section

//testimonial-section
.testimonial-outer {
  padding: 100px 0;

  .testimonial-inner {
    h1.title {
      font-weight: 900;
      text-transform: uppercase;
      margin: 0;
      color: #000000CC;
    }
  }
}

.testimonial-carousel-outer {
  .testimonial-box-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .quote {
      position: relative;
      font-size: 40px;
      top: 30px;
      left: -40%;
      color: #D1002c;

      .fa-quote-left {
        color: #D1002c;
      }

    }

    .testimonial-box-inner {
      width: auto;
      height: auto;
      padding: 30px 10px;
      background-color: #f3f3f3;
      border-radius: 5px;

      .description, .position {
        color: #A0A0B4;
        font-size: 16px;
        text-transform: capitalize;
      }

      .user-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;

        img {
          border-radius: 50%;
          width: 70px;
        }

        .details {
          .name {
            color: black;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 2px;
          }
        }


      }
    }
  }
}

//testimonial-section


//blogs-section
.blogs-section-outer {
  background-color: #f3f3f3;
  padding: 150px 0;

  .blogs-section-inner {
    h1.title {
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      padding: 50px 0;
      color: #000000CC;
    }

    .blog-card-outer {
      padding: 10px;
      .blog-card-inner {
        .blog-card-header {
          h5 {
            text-transform: capitalize;
            font-weight: normal;

            &:hover {
              color: #D1002c;
              cursor: pointer;
            }
          }
        }

        .blog-card-image {
          width: 100%;
          height: 300px;
          padding: 10px 0;

          .image-outer {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            cursor: pointer;
          }
        }

        .blog-card-date-area {
          padding: 10px 0;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          font-size: 15px;
          cursor: pointer;

          .date {
            text-transform: capitalize;

          }

          .user {
            text-transform: uppercase;
          }


          .comment-and-count {
            display: flex;
            align-items: center;
            justify-content: flex-start;


            .fa-comment {
              font-size: 12px !important;
            }
          }
        }

        .blog-card-sub-text {
          p {
            color: #A0A0B4;
            text-transform: none;
          }
        }
      }
    }

  }
}


//blogs-section


//project-estimate-section
.project-estimate-outer {
  width: 100%;
  height: auto;

  .project-estimate-inner {
    width: 100%;
    height: 500px;

    .project-estimate-inner-image {
      height: auto;
      background-image: url("https://preview.colorlib.com/theme/avo/images/bg_1.jpg.webp");
      background-size: cover;
      background-position: center;
      padding: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 10px;

      .inner-items {
        color: #FFFFFF;

        p.get-started {
          color: #D1002c;
          text-transform: capitalize;
          font-weight: 700;
        }

        p.desc {
          color: #A0A0B4;
        }

        button {
          background-color: #D1002c;
          border-radius: 5px;
        }
      }
    }
  }
}

//project-estimate-section


//footer-section
.footer-outer {
  z-index: 1000 !important;
  width: 100%;
  height: auto;
  background-color: black;
  padding: 100px 0;
  position: absolute;

  .footer-inner {
    .container {
      .row {
        .footer-items {
          color: #A0A0B4;
          width: 100%;
          height: auto;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          h5.title {
            padding: 10px 0 20px 0;
            color: #FFFFFF;
          }

          ul {
            li {
              list-style: none;
              margin: 0;
              padding: 0;
            }
          }

          .avo {
            .social-links {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 10px;

              .icon-outer {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.1);;
                color: rgba(255, 255, 255, 0.5);;
                cursor: pointer;
              }
            }
          }

          .footer-links {
            div {
              padding: 5px 0;
            }
          }
          .have-a-question {
            .contact {
              display: flex;
              align-items: flex-start;
              gap: 20px;
              padding: 10px 0;
            }
          }
        }
      }

      .copyright {
        color: #A0A0B4;
        text-align: center;
        padding: 20px 0;

        span {
          color: #D1002c;
        }
      }
    }
  }
}

//footer-section


//media Queries

@media (min-width: 1400px) {
  .container {
    padding: 0 150px !important;
  }
}

@media (min-width: 998px) {
  .works-section-outer {
    .works-section-inner {
      .container {
        flex-direction: column;
        height: 100%;
        width: 100%;
      }

      .image {
        order: 1 !important;
      }

      .description {
        order: 1 !important;

      }

      .work-2, .work-4, .work-6 {
        justify-content: flex-end;
        align-items: flex-end !important;
        text-align: right;
        padding: 20px 0 !important;
      }

      .description {
        padding: 0 50px !important;
      }

      .work-outer-2 {
        top: -80px;
        position: relative;

      }

      .work-outer-3 {
        top: -160px;
        position: relative;
      }

      .work-outer-4 {
        top: -240px;
        position: relative;
      }

      .work-outer-5 {
        top: -320px;
        position: relative;
      }

      .work-outer-6 {
        top: -400px;
        position: relative;
      }
    }
  }
}

@media (min-width: 768px) {

  .header-outer {
    position: absolute;
    top: 0 !important;

    .header-inner {
      .navbar {
        background-color: transparent !important;

        .navbar-brand {
          font-size: 24px;
          color: white;
          font-weight: 900;

          span {
            color: #D1002c;
          }
        }

        .navbar-nav {
          .nav-item {
            .nav-link {
              color: #FFFFFF99;
              text-transform: uppercase;
              font-size: 13px;
              font-weight: 600;

              &:hover {
                color: #D1002c;
              }
            }

            .active-link {
              color: #D1002c;
            }
          }
        }
      }
    }
  }
  .providing-service {
    .providing-service-inner {
      .bottom > p {
      }
    }
  }

}

@media (max-width: 998px) {
  .about-us-section-outer {
    .about-us-section-inner {
      .service-details {

        .service-details {
          padding: 0 !important;
        }

        .left {
          order: 1;

          h2, p {
            text-align: left !important;
          }
        }

        .image {
          order: 0;
          width: 100%;
        }

        .right {
          order: 2;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-outer {
    .footer-inner {
      .footer-items {
        display: flex;
        align-items: center;
        flex-direction: column !important;
      }
    }

  }
  .landing-image-outer .landing-image-inner .container .row .items {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;
    color: white;

    .left-items {
      width: 100%;

      h1.title {
        font-size: 25px !important;
      }
    }

    .right-items {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      flex-direction: column;

      h1 {
        border-left: 5px solid #D1002c;
        border-right: none;

      }
    }
  }
  .about-us-section-outer {
    .about-us-section-inner {
      .service-items {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

        .items-inner {

        }


        .image {
          width: 100% !important;
        }
      }
    }
  }
  .works-section-outer {
    .works-section-inner {

      .container {
        flex-direction: column;

        .work-outer {
          .description {
            h1.work-name {
              font-size: 60px;
            }
          }
        }
      }

      .description {
        order: 2;
      }
    }
  }
}

@media (max-width: 500px) {


  .fa-circle-play {
    font-size: 60px !important;
    border-radius: 50%;
    margin: 10px;
    color: #D1002c;
    position: absolute;
    bottom: 5% !important;
    right: 20% !important;
  }

  .works-section-outer {
    .works-section-inner {

      .container {
        flex-direction: column;

        .work-outer {
          .description {
            h1.work-name {
              font-size: x-large;
            }
          }
        }
      }
    }
  }
  .project-estimate-outer {
    .project-estimate-inner {
      padding: 5px;

      .project-estimate-inner-image {
        padding: 20px 20px !important;
        border-radius: 5px;

        .inner-items {
          h3 {
            font-size: 30px;
          }
        }
      }
    }
  }

  .footer-outer {
    .footer-inner {
      .footer-items {
        h5.title {
          padding: 30px 0 20px 0 !important;
        }
      }
    }
  }
}

//media Queries
