<!--header-->
<div class="header-outer">
  <div class="header-inner">
    <app-header></app-header>
  </div>
</div>
<!--header-->
<!--carousel-section-->
<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let slide of slidesStore">
    <ng-template carouselSlide>
      <div class="landing-image-outer">
        <div class="landing-image-inner" [style.background-image]="'url(' + slide.imageLink + ')'">
          <div class="container">
            <div class="row">
              <div class="col-12 items">
                <div class="left-items">
                  <h1 class="title col-lg-10">{{slide.titleText}}</h1>
                  <p class="sub-title">{{slide.subTitleText}}</p>
                  <button class="btn btn-danger">{{slide.buttonText}}</button>
                </div>
                <div class="right-items">
                  <h1>{{slide.countProject}}</h1>
                  <p>{{slide.bottomText}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <a href=""><button><i class="fa-solid fa-circle-play"></i></button></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </ng-template>
  </ng-container>

</owl-carousel-o>
<!--carousel-section-->

<div class="divider-bars-1">
  <div class="bars">
    <div class="left-bar"></div>
    <div class="right-bar"></div>
  </div>
</div>


<!--title-section-->
<div class="about-us-section-outer">
  <div class="about-us-section-inner">
    <div class="container">
      <div class="row">
        <div class="col-12" appAnimation>
          <h1 class="title-name animate__animated animate__fadeInUp ">ABOUT US</h1>
        </div>
      </div>
      <div class="content-outer">
        <div class="row" appAnimation>
          <div class="col-12 service-items">
            <div class="items-inner animate__animated animate__fadeInUp animate__delay-1s" *ngFor="let item of aboutSectionItems">
              <img src="{{item.icon}}" alt="{{item.alt}}" width="60px">
              <p class="service-description">{{item.serviceName}}</p>
            </div>
          </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center service-details animate__animated animate__fadeInUp animate__delay-1s" appAnimation>
          <div class="col-12 col-lg-4 left" >
            <div class="service-inner ">
              <h2 class="text-end">Welcome to AVO A Personal Porfolio Web Agency</h2>
              <p class="text-end">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                language ocean. A small
                river named Duden flows by their place and supplies it with the necessary regelialia. It is a
                paradisematic
                country, in which roasted parts of sentences fly into your mouth.</p>
            </div>
          </div>
          <div class="col-12 col-lg-4 image">
            <div class="service-inner"></div>
          </div>
          <div class="col-12 col-lg-4 right">
            <div class="service-inner">
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                is
                a
                paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
              <button class="btn btn-danger">View all projects</button>
            </div>

          </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center" appAnimation>
          <div class="inner-items"></div>
          <div class="col-12 col-lg-4 providing-service ">
            <div class="providing-service-inner animate__animated animate__fadeInUp animate__delay-2s">
              <div class="top"><span>01</span><h4>Search Engine Optimization</h4></div>
              <div class="bottom">
                <p>Far far away, behind the word mountains</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 providing-service ">
            <div class="providing-service-inner animate__animated animate__fadeInUp animate__delay-2s">
              <div class="top"><span>02</span><h4>Search Engine Optimization</h4></div>
              <div class="bottom">
                <p>Far far away, behind the word mountains</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 providing-service ">
            <div class="providing-service-inner animate__animated animate__fadeInUp animate__delay-2s">
              <div class="top"><span>03</span><h4>Search Engine Optimization</h4></div>
              <div class="bottom">
                <p>Far far away, behind the word mountains</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<!--title-section-->

<div class="divider-bars-2">
  <div class="bars">
    <div class="left-bar"></div>
    <div class="right-bar"></div>
  </div>
</div>

<!--works-section-->
<div class="works-section-outer">
  <div class="works-section-inner">
    <div class="container">
      <div class="row" appAnimation>
        <div class="col-12 title text-center">
          <h1 class="animate__animated animate__fadeInUp">Our Works</h1>
        </div>
      </div>
      <div class="row work-outer animate__delay-1s" appAnimation >
        <div class="col-12 col-lg-5 image">
          <div class="item-image image-01"></div>
        </div>
        <div class="col-12 col-lg-7 description animate__animated animate__fadeInUp animate__slow  work-1 " >
          <p class="work-title">web design</p>
          <h1 class="work-name">Cassette tape</h1>
          <p class="work-description">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
          <div class="user">
            <div class="user-image"><img src="https://preview.colorlib.com/theme/avo/images/person_1.jpg.webp" alt=""></div>
            <div class="user-description">
              <p>Jamie Johnson</p>
              <p class="website-name">avo.com</p>
            </div>
          </div>
          <button class="btn-primary">view portfolio</button>
        </div>
      </div>
      <div class="row work-outer work-outer-2 animate__delay-1s" appAnimation>
        <div class="col-12 col-lg-7 description animate__animated animate__fadeInUp animate__slow work-2">
          <p class="work-title">application</p>
          <h1 class="work-name">miniwall clock</h1>
          <p class="work-description">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
          <div class="user">
            <div class="user-image"><img src="https://preview.colorlib.com/theme/avo/images/person_2.jpg.webp" alt=""></div>
            <div class="user-description">
              <p>Jamie Johnson</p>
              <p class="website-name">avo.com</p>
            </div>
          </div>
          <button class="btn-primary">view portfolio</button>
        </div>
        <div class="col-12 col-lg-5 image">
          <div class="item-image image-02"></div>
        </div>
      </div>
      <div class="row work-outer work-outer-3 animate__delay-1s" appAnimation>
        <div class="col-12 col-lg-5 image">
          <div class="item-image image-03"></div>
        </div>
        <div class="col-12 col-lg-7 description animate__animated animate__fadeInUp animate__slow work-3">
          <p class="work-title">UI/UX design</p>
          <h1 class="work-name">avo portfolio agency</h1>
          <p class="work-description">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
          <div class="user">
            <div class="user-image"><img src="https://preview.colorlib.com/theme/avo/images/person_3.jpg.webp" alt=""></div>
            <div class="user-description">
              <p>Jamie Johnson</p>
              <p class="website-name">avo.com</p>
            </div>
          </div>
          <button class="btn-primary">view portfolio</button>
        </div>
      </div>
      <div class="row work-outer work-outer-4 animate__delay-1s" appAnimation>
        <div class="col-12 col-lg-7 description animate__animated animate__fadeInUp animate__slow work-4">
          <p class="work-title">web development</p>
          <h1 class="work-name">hand writing</h1>
          <p class="work-description">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
          <div class="user">
            <div class="user-image"><img src="https://preview.colorlib.com/theme/avo/images/person_1.jpg.webp" alt=""></div>
            <div class="user-description">
              <p>Jamie Johnson</p>
              <p class="website-name">avo.com</p>
            </div>
          </div>
          <button class="btn-primary">view portfolio</button>
        </div>
        <div class="col-12 col-lg-5 image">
          <div class="item-image image-04"></div>
        </div>
      </div>
      <div class="row work-outer work-outer-5 animate__delay-1s" appAnimation>
        <div class="col-12 col-lg-5 image">
          <div class="item-image image-05"></div>
        </div>
        <div class="col-12 col-lg-7 description animate__animated animate__fadeInUp animate__slow work-5">
          <p class="work-title">illustration</p>
          <h1 class="work-name">keyboard</h1>
          <p class="work-description">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
          <div class="user">
            <div class="user-image"><img src="https://preview.colorlib.com/theme/avo/images/person_2.jpg.webp" alt=""></div>
            <div class="user-description">
              <p>Jamie Johnson</p>
              <p class="website-name">avo.com</p>
            </div>
          </div>
          <button class="btn-primary">view portfolio</button>
        </div>
      </div>
      <div class="row work-outer work-outer-6 animate__delay-1s" appAnimation>
        <div class="col-12 col-lg-7 description animate__animated animate__fadeInUp animate__slow work-6">
          <p class="work-title">web development</p>
          <h1 class="work-name">spiral</h1>
          <p class="work-description">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
          <div class="user">
            <div class="user-image"><img src="https://preview.colorlib.com/theme/avo/images/person_3.jpg.webp" alt=""></div>
            <div class="user-description">
              <p>Jamie Johnson</p>
              <p class="website-name">avo.com</p>
            </div>
          </div>
          <button class="btn">view portfolio</button>
        </div>
        <div class="col-12 col-lg-5 image">
          <div class="item-image image-06"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--works-section-->

<div class="divider-bars-1">
  <div class="bars">
    <div class="left-bar"></div>
    <div class="right-bar"></div>
  </div>
</div>


<!--testimonial-section-->
<div class="testimonial-outer" appAnimation>
  <div class="testimonial-inner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center title animate__animated animate__fadeInUp animate__delay-1s">Clients Says About Us?</h1>

        </div>
        <div class="col-12">
          <div class="testimonial-carousel-outer">
            <owl-carousel-o [options]="testimonialOption">
              <ng-container *ngFor="let testimonial of testimonials">
                <ng-template carouselSlide>
                  <div class="col-12">
                    <div class="testimonial-box-outer">
                      <div class="quote"><i class="fa-solid fa-quote-left"></i></div>

                      <div class="testimonial-box-inner">
                        <div class="description">{{testimonial.description}}</div>
                        <div class="user-section">
                          <div class="image">
                            <img [src]="testimonial.image" alt="">
                          </div>
                          <div class="details ">
                            <div class="name">{{testimonial.name}}</div>
                            <div class="position">{{testimonial.position}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!--testimonial-section-->


<div class="project-estimate-outer" >
  <div class="project-estimate-inner">
    <div class="container">
      <div class="row">
        <div class="col-12 project-estimate-inner-image">
          <div class="row" appAnimation>
            <div class=" col-12 col-lg-8 inner-items ">
              <p class="get-started animate__animated animate__fadeInUp animate__delay-1s">get stated</p>
              <h3 class="animate__animated animate__fadeInUp animate__delay-1s">Fill in the brief and get the project estimate</h3>
              <p class="desc animate__animated animate__fadeInUp animate__delay-1s">'far far away behind the world mountains, far from the countries Vokalia and Constantia,
                there live the blind texts.</p>
              <button class="btn btn-danger animate__animated animate__fadeInUp animate__delay-1s">Get Started</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="divider-bars-2">
  <div class="bars">
    <div class="left-bar"></div>
    <div class="right-bar"></div>
  </div>
</div>
<!--blogs-section-->
<div class="blogs-section-outer" appAnimation>
  <div class="blogs-section-inner">
    <div class="container">
      <div class="row">
        <h1 class="col-12 title animate__animated animate__fadeInUp animate__delay-1s">recent blog</h1>
      </div>
      <div class="row" appAnimation>
        <div class="col-12 col-lg-3 col-md-6 blog-card-outer animate__animated animate__fadeInUp animate__delay-1s animate__slow" *ngFor="let blogItem of blogs">
          <div class="blog-card-inner">
            <div class="blog-card-header">
              <h5>{{blogItem.header}}</h5>
            </div>
            <div class="blog-card-image">
              <div class="image-outer" [style.background-image]="'url(' + blogItem.imageLink + ')'"></div>
            </div>
            <div class="blog-card-date-area">
              <p class="date">{{blogItem.date}}</p>
              <p class="user">{{blogItem.user}}</p>
              <div class="comment-and-count">
                <p><i class="fa-solid fa-comment"></i> {{blogItem.comments}}</p>
              </div>

            </div>
            <div class="blog-card-sub-text">
              <p>{{blogItem.subText}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--blogs-section-->

<div class="divider-bars-3">
  <div class="bars">
    <div class="left-bar"></div>
    <div class="right-bar"></div>
  </div>
</div>

<!--footer-section-->
<div class="footer-outer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="footer-items">
            <div class="avo">
              <h5 class="title">avo</h5>
              <p>Far far away, behind <br>the word mountains, <br>far from the countries.</p>
              <div class="social-links" appAnimation>
                <div class="icon-outer animate__animated animate__fadeInUp animate__delay-1s"><i class="fa-brands fa-twitter"></i></div>
                <div class="icon-outer animate__animated animate__fadeInUp animate__delay-1s"><i class="fa-brands fa-facebook-f"></i></div>
                <div class="icon-outer animate__animated animate__fadeInUp animate__delay-1s"><i class="fa-brands fa-instagram"></i></div>
              </div>
            </div>
            <div class="community">
              <h5 class="title">Community</h5>
              <div class="footer-links">
                <div><i class="fa-solid fa-angle-right"></i> Project</div>
                <div><i class="fa-solid fa-angle-right"></i> Team</div>
                <div><i class="fa-solid fa-angle-right"></i> Reviews</div>
                <div><i class="fa-solid fa-angle-right"></i> Faqs</div>
              </div>
            </div>
            <div class="about-us">
              <h5 class="title">About Us</h5>
              <div class="footer-links">
                <div><i class="fa-solid fa-angle-right"></i> Our Story</div>
                <div><i class="fa-solid fa-angle-right"></i> Meet The team</div>
                <div><i class="fa-solid fa-angle-right"></i> Careers</div>
              </div>
            </div>
            <div class="company">
              <h5 class="title">Company</h5>
              <div class="footer-links">
                <div><i class="fa-solid fa-angle-right"></i> About Us</div>
                <div><i class="fa-solid fa-angle-right"></i> Press</div>
                <div><i class="fa-solid fa-angle-right"></i> Contact</div>
                <div><i class="fa-solid fa-angle-right"></i> Careers</div>
              </div>
            </div>
            <div class="have-a-question">
              <h5 class="title">Have a Question?</h5>
              <div class="contact">
                <div class="icon"><i class="fa-solid fa-map"></i></div>
                <div class="sentence"> 203 Fake St. <br> Mountain View, <br>San Francisco, <br>California, USA</div>
              </div>
              <div class="contact">
                <div class="icon"><i class="fa-solid fa-phone"></i>	</div>
                <div class="sentence">+2 392 3929 210</div>
              </div>
              <div class="contact">
                <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                <div class="sentence">info@yourdomain.com</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="copyright">Copyright &copy; All rights reserved | This template is made with <i class="fa-solid fa-heart"></i> by <span>Colorlib</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--footer-section-->






























