<div class="nav-outer" style="z-index: 5000">
  <div class="nav-inner" style="z-index: 5000">
    <nav class="navbar navbar-expand-lg fixed-top" style="z-index: 5000" appHeader>
      <div class="container">
        <a class="navbar-brand" href="#" appNavbar>
          a
          <span>v</span>
          o
        </a>
        <div class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span>MENU</span>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item" >
              <a class="nav-link active" aria-current="page" href="#" routerLink="/dashboard/home"
                 routerLinkActive="active-link">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" appNavbar>About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" appNavbar>Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" appNavbar>Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" appNavbar>Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
